<!-- BEGIN NAVIGATION HEADER -->
<div class="header-seperation">
    <!-- BEGIN MOBILE HEADER -->
    <ul id="main-menu-toggle-wrapper" class="nav pull-left notification-center" style="display: none">
        <li class="dropdown">
            <a id="main-menu-toggle" href="#main-menu">
                <div class="iconset top-menu-toggle-white"></div>
            </a>
        </li>
    </ul>
    <!-- END MOBILE HEADER-->
    <!-- BEGIN LOGO -->
    <a href="#">
        <img src="Scripts/img/logo.png" class="logo" alt="" data-src="Scripts/img/logo.png" data-src-retina="Scripts/img/logo2x.png" width="106" height="21" />
    </a>
    <!-- BEGIN LOGO NAV BUTTONS -->
    <ul class="nav pull-right notifcation-center">
        <li class="dropdown" id="header_task_bar">
            <a href="#" class="dropdown-toggle active" data-toggle="">
                <div class="iconset top-home"></div>
            </a>
        </li>
        <li class="dropdown" id="header_inbox_bar">
            <a href="#" class="dropdown-toggle">
                <div class="iconset top-messages"></div>
                <span class="badge" id="msgs-badge">2</span>
            </a>
        </li>
    </ul>
    <!-- END LOGO NAV BUTTONS -->
</div>
<!-- END NAVIGATION HEADER -->