<!-- BEGIN NAVIGATION HEADER -->
<div class="header-seperation">
    <!-- BEGIN MOBILE HEADER -->
    <ul id="main-menu-toggle-wrapper" class="nav pull-left notification-center" style="display: none">
        <li class="dropdown">
            <a id="main-menu-toggle" href="#main-menu">
                <div class="iconset top-menu-toggle-white"></div>
            </a>
        </li>
    </ul>
    <!-- END MOBILE HEADER-->
</div>
<!-- END NAVIGATION HEADER -->